a {
    text-decoration: none;
    display: block;
    padding-block: 135px, 50px;
}

input {
    height: 15px;
    padding: 2em
}

td {
    background-color: rgb(48, 48, 48);
    color: blanchedalmond;
    text-align: center;
}

th {
    background-color: antiquewhite;
    padding: 1em
}

tbody {
    text-align: center;
}

.class_01 {
    background-color: rgb(255, 112, 56);
    text-decoration-color: rgb(255, 112, 56);
    color: green;
}

.class_02 {
    background-color: mediumvioletred;
    text-decoration-color: mediumvioletred;
    color: black;
}

.class_03 {
    background-color: mediumaquamarine;
    text-decoration-color: mediumaquamarine;
    color: black;
}

.class_04 {
    background-color: gold;
    text-decoration-color: gold;
    color: black;
}

td:hover {
    color: aliceblue;
    cursor: pointer;
    table-layout: auto;
    text-decoration: wavy, white;
    text-decoration-color: brown;
    background-color: blue;
    background-size: 100%;
    transition: 0.5s;
}

.class_01 :hover {
    color: aliceblue;
    cursor: pointer;
    table-layout: auto;
    text-decoration: wavy, white;
    text-decoration-color: brown;
    background-color: blue;
    background-size: 135px, 50px;
    transition: 0.3s;
}

.class_02 :hover {
    color: aliceblue;
    cursor: pointer;
    table-layout: auto;
    text-decoration: wavy, white;
    text-decoration-color: brown;
    background-color: blue;
    background-size: 100%;
    transition: 0.3s;
}

.class_03 :hover {
    color: aliceblue;
    cursor: pointer;
    table-layout: auto;
    text-decoration: wavy, white;
    text-decoration-color: brown;
    background-color: blue;
    background-size: 100%;
    transition: 0.3s;
}

.class_04 :hover {
    color: aliceblue;
    cursor: pointer;
    table-layout: auto;
    text-decoration: wavy, white;
    text-decoration-color: brown;
    background-color: blue;
    background-size: 100%;
    transition: 0.3s;
}

:any-link {
    color: currentColor;
    cursor: pointer;
}

body {
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center
}